<div class="game-board">
  <div *ngIf="!game.gameOn">
    <div class="start-panel">
      <div>
        <mat-form-field>
          <input matInput type="number" placeholder="Chip Size" [(ngModel)]="chipSize">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <span matPrefix>$&nbsp;</span>
          <input matInput type="number" placeholder="BuyIn Cost" [(ngModel)]="buyInCost">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="game.startNewGame(chipSize, buyInCost)" [disabled]="!chipSize || !buyInCost">Start New Game</button>
    </div>
  </div>

  <div *ngIf="game.gameOn">
    <div>
      <p>Chip Size: {{ game.chipSize }}</p>
      <p>Buy In Cost: {{ game.buyinCost }}</p>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="addPlayer()">Add Player</button>
      <button mat-raised-button color="primary" (click)="buyIn()">Buy In</button>
      <button mat-raised-button color="warn" (click)="game.endGame()">End Game</button>
    </div>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="chips">
        <mat-header-cell *matHeaderCellDef> Chips </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.chips}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
